<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Click on the link to <a href="/new">add a new message</a>.</p>
    <% messages.forEach(message => { %>
      <div>
        <span><%= message.username %></span>
        <p><%= message.message %></p>
        <span><%= message.date %></span>
        <a href=<%= message.id %>>Open</a>
      </div>
    <% }) %>
  </body>
</html>
